@font-face{
    font-family: "Maqueen";
    src:url("@/assets/fonts/maqueen.ttf")
}
@font-face{
    font-family: "Cheese";
    src:url("@/assets/fonts/renjianshigenailaoti.ttf")
}
@font-face{
    font-family: "BeMadlyInLove";
    src:url("@/assets/fonts/xianruwomenderelianziti.ttf")
}
